#Name {
    float: left;
    padding: 20px;
    width: 572px;
    color: black;
    font-weight: bold;
    background:whitesmoke;
    border-bottom: solid grey 2px;
}

#About {
    float: left;
    padding: 20px;
    width: 76px;
    color: black;
    font-weight: bold;
    background: whitesmoke;
    border-bottom: solid grey 2px;
}

#Portfolio {
    float: left;
    padding: 20px;
    width: 76px;
    color: black;
    font-weight: bold;
    background: whitesmoke;
    border-bottom: solid grey 2px;
}

#Contact {
    float: left;
    padding: 20px;
    width: 76px;
    color: black;
    font-weight: bold;
    background: whitesmoke;
    border-bottom: solid grey 2px;
}

body {
    clear: both;
    overflow: auto;
    width: 960px;
    margin: auto;
    background-image: url(../images/white-waves.png);
    background-color: whitesmoke;
}

.container {
    background-color:#ffffff;
    padding: 20px;
    
}

.Anthony_Portrait {
    float: left;
    margin-right: 10px;
    margin-top: 2px;
}

