#Name {
    float: left;
    padding: 20px;
    width: 572px;
    color: black;
    background:whitesmoke;
}

#About {
    float: left;
    padding: 20px;
    width: 76px;
    color: black;
    background: whitesmoke;
}

#Portfolio {
    float: left;
    padding: 20px;
    width: 76px;
    color: black;
    background: whitesmoke;
}

#Contact {
    float: left;
    padding: 20px;
    width: 76px;
    color: black;
    background: whitesmoke;
}

body {
    clear: both;
    overflow: auto;
    width: 960px;
    margin:0 auto;
    background-color: blue;
}

.Anthony_Portrait {
    float: left;
    margin-right: 10px;
}

